<h1>Application de dons de chatons</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-user-kitten #appUserKitten></app-user-kitten>
    </div>
    <div class="col-md-4">
      <app-create-kitten
        (kittenAdded)="appListKitten.onKittenAdded($event)"
      ></app-create-kitten>
    </div>
    <div class="col-md-4">
      <app-list-kitten
        [appUserKittenComponent]="appUserKitten"
        #appListKitten
      ></app-list-kitten>
    </div>
  </div>
</div>
