<h2>Liste des chatons disponibles</h2>

<div
  class="kitten-container"
  *ngFor="let kitten of kittens"
  (mouseover)="showKittenDetails(kitten)"
  (mouseleave)="hideKittenDetails()"
>
  <img
    class="kitten-photo"
    [src]="kitten.photo"
    alt="Photo de {{ kitten.name }}"
  />
  <br />
  <button class="adopt-button" (click)="adoptKitten(kitten)">
    Adopter {{ kitten.name }}
  </button>
  <br />
  <br />
  <div class="kitten-details" *ngIf="selectedKitten === kitten">
    <p>Nom: {{ kitten.name }}</p>
    <p>Race: {{ kitten.breed }}</p>
    <p>Date de naissance: {{ kitten.birthdate }}</p>
    <p>Lien vers la photo: {{ kitten.photo }}</p>
  </div>
</div>
